@font-face {
    font-family: 'Alexander';
    src: local('Alexander'), url('alexander.woff2') format('woff2'), url('alexander.woff') format('woff'), url('alexander.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
	h1 {
	font-family: BadScript, 'Comic Sans MS', cursive;	
	}
  	h2 {
	font-family: BadScript, 'Comic Sans MS', cursive;	
	}
	h3 {
	font-family: BadScript, 'Comic Sans MS', cursive;	
	}
	h4 {
	font-family: BadScript, 'Comic Sans MS', cursive;	
	}
	h5 {
	font-family: BadScript, 'Comic Sans MS', cursive;	
	}
  